.MuiDropzoneArea-root.box{
    border-radius: 50px;
    min-height: 200px;
}
.container{
    width: 100%;
}
.uploadfilename{
    font-family:'Playfair Display';
    font-size:large;
}
.text-center{
    margin-left: auto;
    margin-right: auto;
}
/* .bodycolor{
    background-color:#1976d2;
} */
.dropbox {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.img{
    margin-left: auto;
    margin-right: auto;
}

.ml{
    margin-left: auto;
}
.mr{
    margin-right: auto;
}
.center{
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}
.box{
    border-radius: 40px;
}

.uploadfilename{
    font-size: large;
    padding: 20px;
}

.bodycolor{
    background-color: aquamarine;
}

