
.color{
    background-color:#303f9f;
}

.title{
    font-family: 'Bebas Neue';
    font-size: xx-large;
}

.label {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  padding: 2px;
  margin-right: 9px;
}

.profilecontainer{
  background: cadetblue;
padding: 30px;
width: 150%;
border-radius: 1rem;
}

.nav-btn{
  margin: 10px;
  background-color: #303f9f !important;
  color: white !important;
}
.nav-btn:hover{
    background-color: white !important;
    color:black !important;
}
.typograph{
  font-weight: bold;
  height: 30px !important;
  text-align: left !important;
  margin-left: 10px;
}