/* .navtabs{
    width: auto;
} */

.color{
    background-color:#303f9f;
}

.title{
    /* color: black; */
    font-family: 'Bebas Neue';
    font-size: xx-large;
}

.label {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  padding: 2px;
  margin-right: 9px;
}

.profilecontainer{
  background: cadetblue;
padding: 30px;
/* margin-top: -60px; */
width: 150%;
border-radius: 1rem;
}

.nav-btn{
  margin: 10px;
  background-color: #303f9f !important;
  color: white !important;
}

.alert{
  background-color: #2e7d32 !important;
}