
.color{
    background-color:white;
    margin-bottom: 10px;
    position: sticky;
    top:0px;
    z-index:2;
}

.title{
    font-family: sans-serif;
    font-size: xx-large;
    color:black;
}

.label {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  padding: 2px;
  margin-right: 9px;
}

.profilecontainer{
  background: cadetblue;
padding: 30px;
width: 150%;
border-radius: 1rem;
}

.nav-btn{
  margin: 10px;
  background-color: white !important;
  color: black!important;
}
.nav-btn:hover{
    background-color: #1976d2 !important;
    color:white !important;
}
.typograph{
  font-weight: bold;
  height: 30px !important;
  text-align: left !important;
  margin-left: 10px;
}
